@charset "UTF-8";
/*-----------------------------------------------------------------------------------------------------
PC用レイアウト（768px以上スクリーン）
-----------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------
共通設定(PC)
--------------------------------------------------------*/

/* 初期スタイル調整 */
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* body全体の初期スタイル調整 */
body {
	font-size: 62.5%;
	line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, sans-serif;
	color: #000;
	background-color: #fff;
}
/*リンク文字の設定*/
a {
	text-decoration: underline;
}
a:link, a:visited {
	color: #39f;
}
a:hover, a:active {
	color: #f60;
}
p {
	margin: 0 !important;
	padding: 0 !important;
}
section {

	overflow: auto;
}

/*H2タグ*/
h2 {
	margin: 0.5em 0 0.5em;
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
}
/*H3タグ*/
h3 {
    background-color: #222222;
	margin: 0 0 0.5em;
	padding: 0.3em 0.6em;
	font-size: 1.6em;
	border-left: 8px solid #7c012f;
	font-weight: bold;
    color: #fff;
}
/*H4タグ*/
h4 {
	margin: 0 0 0.5em;
	padding: 0.3em 0.6em;
	font-size: 1.4em;
	border-bottom:3px solid #7C022E;
	font-weight: bold;
}
/*H5タグ*/
h5 {
	margin: 0 0 0.5em;
	padding: 0.2em 0.4em;
	font-size: 1.2em;
	border-bottom: 2px solid #414141;
	font-weight: bold;
}
/*カラムが狭くなってもテーブルタグがはみ出ないようにする*/
table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}
/*--------------------------------------------------------
全体レイアウト/背景設定（PC）
--------------------------------------------------------*/

/*全体エリア(全体背景の設定はここ)*/
.main {
    overflow: hidden;
}
/*記事(ボディ)エリア*/
.article{
	width: 100%;
}

/*記事(ボディ)エリアの行間*/
.article p {
	line-height: 1.6em;
	margin-bottom: 1em;
}
/*記事(ボディ)エリアのフォントサイズ*/
.article {
	font-size: 1.7em;
}
/*カラム全体の幅を変更する*/
.header_inr, .top_image_in {
	width: 950px;
	margin: 0 auto
}

/*カラム全体の幅を変更する*/
.top_image_in_pc,.section_inr{
  width: 950px;
  margin: 0 auto; /*真ん中に要素を置きたいときに使う*/
}
/*--------------------------------------------------------
上部固定ヘッダー設定
--------------------------------------------------------*/

/*上部固定ヘッダー全体*/
.header {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 5000;
	background-color: #fff;
	border-bottom: 1px;
	overflow: auto;
}
/*ヘッダーロゴ*/
.header_logo {
	float: left;
	width: 15%;
	margin: 0.5em 0.5em 0em;
}
/*ヘッダー 電話ボタン*/
.header_tel {
	width: 25%;
	float: right;
	margin: 0.5em 0.5em 0em;
}
/*ヘッダー 問い合わせボタン*/
.header_mail {
	width: 18%;
	float: right;
	margin: 0.8em 0.3em 0em;
}
/*ヘッダー内の画像はエリア幅に合わせる*/
.header_logo img, .header_tel img, .header_mail img {
	width: 100%;
}
/*--------------------------------------------------------
ファーストビュー設定
--------------------------------------------------------*/

.top_image {
	background: url(../images/top_image_back.jpg) center top no-repeat #fff;
	height: auto;
}
.top_image_in_pc img {
	width: 100%;
}

.top_image_in_pc{
		display:block;
	}
	
.top_image_in_sp{
		display:none;
	}


/*-----------------------------------------------------------------------------------------------------
※※※※※※※※※メイン部分(ボディ) ※ここに案件独自のcssを記述していく
-----------------------------------------------------------------------------------------------------*/

/*以下、制作しながらセクション単位で追記していく*/

.section_01 {
	background-color: #fff;
	padding: 1.5em 4.5em;
}
.section_02 {
	background-color: #f6f6f6;
	padding: 1.5em 4.5em;
}
.section_03 {
	background-color: #FFF2F2;
	padding: 1.5em 4.5em;
}



.area_cta {
    background-color: #222222;
	padding: 0em 0em;
}

.box_left{
	background: #FF0;
	width: 250px;
	float: left;
	height: 100px;
}

.box_right{
	background: #F00;
	width: 250px;
	float: right;
	height: 100px;
}

.box_koe{
	display: flex;
	justify-content: space-between;
	background: #f9f9f9;
	padding: 1em;
	margin-bottom: 1.5em;
}

.box_koe_left{
	width: 38%;
}

.box_koe_left img{
	width: 80%;
}

.box_koe_right{
	width:62%;
	background-color: #fff;
	padding: 1em;
}
.box_koe_02{
		background-color: #fff;
	padding: 1em;
}
.tag_01{
	background-color: #7C022E;
	color: #fff;
	padding: 0.1em;
	margin-left: 0.2em;
}

.clearfix{
	clear:both;
}

.box_main{
	background-color: #ccc;
	border: 10px solid #6C6C6C;
	overflow: auto;
}


.area_point{
    display: flex;
    justify-content: space-between;
}


.box_point{
    width: 32%;
    padding: 1em 1em;
    text-align: center;
}

.box_point img{
    width: 70%;
}

.title_point_tag{
    background-color: #7c012f;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.title_point_title{
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

p.title_point_title{
   line-height: 1.2; 
}

.section_title{
    background-color: #7c012f;
    color: #fff;
    padding: 1em 0em;
}

.section_title_point{
    font-size: 1.6em;
    text-align: center;
    font-weight: bold;
}

.box_area{
   background-color: #FF0;
	width: 300px;
	height: 300px;
	position: static;
}

.box_item_01{
   background-color: #F00;
	width: 100px;
	height: 100px;
	position: static;
	right: -30px;
	bottom: -30px;
	z-index: 200;
}


.box_item_02{
   background-color: #00F;
	width: 50px;
	height: 50px;
	position: static;
	right: 30px;
	bottom:40px;
	z-index: 100;
}

.pc_movie{
	 display: -webkit-box; 
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
	 -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
	margin-top: 0.5em;
}

.pc_movie img{
	 width: 33%;
}












.box_06{
	background-color: #0FF;
	width: 30%;
	text-align: center;
}




.box_07{
	background-color: #0FF;
	width: 30%;
	text-align: center;
}


/*ステップフローのCSS*/
ul.stepflow {
	border: none;
	margin: 1em 0.5em;
	padding: 0;
	list-style: none;
}
ul.stepflow > li:before, ol.stepflow > li:before {
	background-color:#cccccc!important;
}
.stepflow li {
    position: relative;
    padding: 0 0 1.5em 1.8em;
}
.stepflow>li:before {
	content: "";
	width: 3px;
	background: #cccccc;
	display: block;
	position: absolute;
	top: 28px;
	bottom: 0;
	left: 5px;
}
.stepflow-white {
	content: '';
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 0;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: solid 3px #232F3E;
}
.stepflow-black {
	content: '';
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 0;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: solid 3px #232F3E;
	background-color: #232F3E;
}
.stepflow_label {
	padding: 3px 0px 8px 0px;
	margin-bottom:8px;
	color: #999999;
	font-size: .8em;
	font-weight: bold;
}
.stepflow_title {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom:15px;
}
.stepflow_content {
	font-size: .9em;
	line-height: 1.5;
	margin-top: .5em;
	padding: 0 0 1.5em;
	border-bottom: dashed 1px #cccccc;
}
/*ステップフローのCSSここまで*/














/*--------------------------------------------------------
段落・リスト・テーブル設定
--------------------------------------------------------*/

/*チェックリスト（リストタグ）*/
 
ul.checklist {
	background-color: #FEFFF5;
	margin: 0 0 1.5em;
	padding: 1em 1em 0em 1em;
	list-style: none;
	border: 1px solid #414141
}
.checklist li {
	margin-bottom: 0.8em;
	text-indent: -1.2em;
	margin-left: 1em;
}
.checklist li:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f14a";
	margin-right: 0.3em;
	color: red;
}
/*テーブルタグ*/
table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #959595;
	border-left: 1px solid #959595;
	margin-top: 1em;
	margin-bottom: 1em;
}
th, td {
	padding: 0.5em;
	border-right: 1px solid #959595;
	border-bottom: 1px solid #959595;
}
th {
	background-color: #f0f0f0;
	font-weight: bold;
	text-align: left;
}
td {
	background-color: #fff;
	text-align: left;
}

table.table-style01 th, table.table-style01 td {
	text-align: left;
	vertical-align: middle;
	font-size: 1.2em;
}

table.table-style01 th{
	text-align: center;
}
/*Youtube埋め込み調整*/

.youtube_size {
	width: 640px;
	height: 440px;
}
/*-----------------------------------------------------------------------------------------------------
テンプレート用のcss※必要に応じて使用する
-----------------------------------------------------------------------------------------------------*/

/*画像化したサブヘッドを横に広げる*/
h2.subhead {
	margin: 0em -2em;
}
/*よくある質問(文章ver.)*/
.box_qa {
	background-color: #efefef;
	padding: 1em;
}
.box_qa_q {
	background-color: #fff;
	padding: 1em 2em;
	border-bottom: 1px solid #ccc;
	font-size: 120%;
	font-weight: bold;
	color: #CD3B3E;
}
.box_qa_a {
	background-color: #fff;
	padding: 1em 2em;
	line-height: 1.8;
}
.box_qa_q p {
	text-indent: 0em;
}
.box_qa_a p {
	text-indent: 0em;
	margin-left: 0em;
}
/*よくある質問(アコーディオンver.)*/

.cp_qa *, .cp_qa *:after, .cp_qa *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp_qa {
	overflow-x: hidden;
	margin: 0 auto;
	color: #333333;
}
.cp_qa .cp_actab {
	padding: 20px 0;
	border-bottom: 1px dotted #cccccc;
}
.cp_qa label {
	font-size: 1.2em;
	position: relative;
	display: block;
	width: 100%;
	margin: 0;
	padding: 10px 10px 0 48px;
	cursor: pointer;
}
.cp_qa .cp_actab-content {
	font-size: 1em;
	position: relative;
	overflow: hidden;
	height: 0;
	margin: 0 40px;
	padding: 0 14px;
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
	opacity: 0;
}
.cp_qa .cp_actab input[type=checkbox]:checked ~ .cp_actab-content {
	height: auto;
	padding: 14px;
	opacity: 1;
}
.cp_qa .cp_plus {
	font-size: 2.4em;
	line-height: 100%;
	position: absolute;
	z-index: 5;
	margin: 3px 0 0 10px;
	-webkit-transition: 0.2s ease;
	transition: 0.2s ease;
}
.cp_qa .cp_actab input[type=checkbox]:checked ~ .cp_plus {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cp_qa .cp_actab input[type=checkbox] {
	display: none;
}
/*問い合わせエリア*/

.box_entry {
	background-color: #222222;
	padding: 1em 3em;
}
.entry_inr {
	background-color: #222222;
	padding: 0em 0em;
	overflow: auto;
    color: #fff;
    text-align: center;
    font-size: 1.4em;
}

.shiny-btn2 {
    display: block;
    position: relative;
    width: 80%;/*ボタンの幅*/
    padding: 10px 0;
    margin: 10px auto;
    background-color: #3e9b48;/*ボタンの色*/
    box-shadow: 0 3px 0 0 rgba(1, 75, 9, 1);/*影の色(rgbaの値を変更)*/
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.4em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}
a.shiny-btn2 {
	color: #fff;
}

.shiny-btn2:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: none;
    -webkit-transform: translateY(3px);
}
.shiny-btn2::before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    transition: 0.2s;
    animation: shiny-btn2 3s ease-in-out infinite;
}
@-webkit-keyframes shiny-btn2 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

.title_tokuten{
	border-left:8px solid #7C022E;
	background: rgb(244,210,147);
background: linear-gradient(to right,  rgba(244,210,147,1) 0%,rgba(225,186,112,1) 100%);
 	padding: 0.5em 0.5em !important;
	font-size: 1.6em;
	font-weight: bold;
   margin-bottom: 0.5em !important;
}



/*フォームエリア*/

/*全体*/
.mailform {
	background-color: #fff;
	margin: 0em 0em 1em;
	padding: 1em 0em 1em;
	box-shadow: 0px 0px 1px #594a42;
}
.input {
	margin: 0em 0em 0em;
	padding: 0em 1em;
	color: #000;
}
.input_style {
	width: 100%;
	height: 70px;
	font-size: 100%;
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-align: center;
	color: #7b7b7b;
	background-color: #FFFCF1;
}
input[type="image"] {
	width: 100%;
	text-align: center;
	margin: 0em auto;
}
.caution {
	margin: 0em;
	padding: 0;
	font-size: 90%;
	color: #990000;
	text-align: center;
}
/*スライダー*/
.loopSliderWrap {
	top: 0;
	left: 0;
	height: 200px;
	overflow: hidden;
	position: absolute;
}
.loopSlider {
	margin: 0 auto;
	width: 100%;
	height: 200px;
	text-align: left;
	position: relative;
	overflow: hidden;
}
.loopSlider ul {
	height: 200px;
	float: left;
	overflow: hidden;
}
.loopSlider ul li {
	width: 250px;
	height: 200px;
	float: left;
	display: inline;
	overflow: hidden;
}
.loopSlider ul li img {
	width: 100%;
}

.pink_line {
    background:rgba(0, 0, 0, 0) linear-gradient(transparent 60%, #FFDFEF 0%) repeat scroll 0 0;}







/*-----------------------------------------------------------------------------------------------------
ユーチューブのサイズ設定
-----------------------------------------------------------------------------------------------------*/

.movie-wrap {
     position: relative;
     padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
     height: 0;
     overflow: hidden;
}
 
.movie-wrap iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}




/*-----------------------------------------------------------------------------------------------------
フッター部分
-----------------------------------------------------------------------------------------------------*/

.footer {
	background: #7C022E;
	padding: 2em 0 1em;
	text-align: center;
	font-size: 1.4em;
	color: #fff;
}
.footer a {
	color: #fff;
}
/*スマホ用下部固定メニュー*/
.fix_menu_smartphone {
	display: none;
}
